*body {
    font-size: 25px;
}

.container {
    width: 70%;
    height: 70%;
    border: 1px dotted black;
    margin: auto;
}

.house1 {
    border: 1px solid red;
    margin: 5% 40%;
    padding: 0 10%;
}

.house2 {
    border: 1px solid blue;
    margin: 5% 40%;
    padding: 0 10%;
}